/node_modules/
.vscode/
.idea/
/dist/
/publish/
*.iml
.DS_Store
web.config
*.map
.vs/
cBasics/.vs/cBasics/v16/ipch/AutoPCH/7761b31ae1179784/CBASICS.ipch
cBasics/cBasics.sln
cBasics/cBasics.vcxproj
cBasics/cBasics.vcxproj.filters
cBasics/cBasics.vcxproj.user
cBasics/Debug/
cBasics/x64/
dataStructure/dataStructure.sln
dataStructure/dataStructure.vcxproj
dataStructure/dataStructure.vcxproj.filters
dataStructure/dataStructure.vcxproj.user
dataStructure/Debug/01pointer.obj
dataStructure/Debug/02pointer.obj
dataStructure/Debug/03pointer.obj
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
dataStructure/Debug/dataStructure.vcxproj.FileListAbsolute.txt
dataStructure/Debug/vc142.idb
